.Container {
  display: grid;
  grid-template-columns: 400px 1fr 1fr;
  grid-template-rows: 100px 5fr;
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.App-login {
  grid-column-start: 1;
  grid-column-end: 4;
}

.App-link {
  color: #61dafb;
}

.Channel-Container {
  grid-column-start: 1;
  grid-column-end: 4;
  border: 4px solid red;
}

.Channel-Cols {
  display: grid;
  grid-template-columns: 400px 1fr 1fr;
}

.Channel-Row:after {
  content: "";
  display: table;
  clear: both;
}

.Channel-Column {
  float: left;
  width: 20%;
  padding: 5px;
}

.Skinny-Message-View {
  grid-column-start: 2;
  grid-column-end: 3;
  border: 4px solid red;
}

.Full-Message-View {
  grid-column-start: 2;
  grid-column-end: 4;
  border: 4px solid red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
